<!doctype html>
<html>
<head>
	<meta charset="utf-8"></meta>
    <title>Perception of spaciousness</title>	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript" src="onlinefolio/layout/scripts/jquery.min.js"></script>
<script type="text/javascript" src="onlinefolio/layout/scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="javascripts/gifffer.min.js"></script>

</head>

<body>
<style>
.welcome {
	padding-left:25px;
    height: 30px;
    font-family: "Calibri";
    color: red;
    font-size: 50px;
}
.header {
   
    padding: 25px;
    height: 50px;
    line-height: 0.05;
}
h1 {
	color: black;
	font-family: "Georgia";
}
h2 {
	color: black;
	font-size: 100%;
	font-family: "Georgia";

}
.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#CC3366;
}
.myButton:active {
	position:relative;
	top:1px;
}
.password {
	margin-top: 50px;
}
</style>
<div class="header">
	<h1>Perception of spaciousness</h1>
	<h2>Online survey</h2>
	<hr noshade size="1">
</div>
<div class="welcome">
	Wrong password. 
</div>

</body>
</html>