<!doctype html>
<html>
<head>
	<meta charset="utf-8"></meta>
    <title>Perception of spaciousness</title>	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript" src="onlinefolio/layout/scripts/jquery.min.js"></script>
<script type="text/javascript" src="onlinefolio/layout/scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="javascripts/gifffer.min.js"></script>

</head>
<style>
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}
.myButton:active {
	position:relative;
	top:1px;
}




h1 {
	color: black;
	font-family: "Georgia";
}
h2 {
	color: black;
	font-size: 100%;
	font-family: "Georgia";

}
.myButton:hover {
	background-color:#CC3366;
}
.myButton:active {
	position:relative;
	top:1px;
}
.header {
   
    padding: 25px;
    height: 50px;
    line-height: 0.05;
}
.gifs {  
    height:300px;
    width:850px;
    float:left;
}
.fragen {
    width:430px;
    float:left;
    padding:10px; 
    margin-left:30px;
}
.first {
	text-align: right;
	width:110px;
	float:left;

}
.second {
	width:120px;
    text-align: left;
    float:left;

}
.dots {
    width:180px;
    margin-left: 5px;
    float:left;
}
.welcome {
	padding-left:25px;
    height: 30px;
    font-family: "Calibri";
    font-size:20px;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.personal {
	background-color:#F8F8F8;
	border-width: 1px;
	margin: 20px;
	margin-top: 40px;
	padding: 10px;
	font-family: "Calibri";
}

img {
	margin-left: 0px;
	margin-bottom: 60px;
}
.gif {
	margin-bottom: 60px;
}
.frage {
	margin-bottom: 240px;
	margin-top: 80px;
}
</style>
<body>
<div class="header">
	<h1>Perception of spaciousness</h1>
	<h2>Online survey</h2>
	<hr noshade size="1">
</div>
<div class="welcome">
	This test consists of 7 videos showing the 3D-Models of different rooms. Please watch each video and rate the rooms on the traits given rights. Do that for each pair of adjectives. 
</div>

<form action="/458625klfuieuj8ikkd58965dmmjkss/send" method="get">
<div class="personal">
<div>
	Please select your sex from the list  
	<select name="sex" id="sex" required>
	  <option selected="selected">Select an option</option>
      <option>Female</option>
      <option>Male</option>
      <option>Other</option>
    </select>
</div>

<div style="margin-top: 10px; font-family: "Calibri";">
	Please type your age
	<input type="number" name="age" required>
</div>
</div>
<div class="gifs">
	<h2> Room 1 </h2>
	<div class="gif">
	<img data-gifffer="images/test_anim.gif"/>
	</div>
	<h2> Room 2 </h2>
	<div class="gif">
	<img data-gifffer="images/test_anim.gif"/>
	</div>
</div>
<div class="fragen">
<div class="frage">
<ul>
	<li>
		<div class="first">
			Non spacios
		</div>
		<div class="dots">
				<input type="radio" name="sp" value="1">
			  	<input type="radio" name="sp" value="2">
			  	<input type="radio" name="sp" value="3">
			  	<input type="radio" name="sp" value="4">
			  	<input type="radio" name="sp" value="5">
			  	<input type="radio" name="sp" value="6">
			  	<input type="radio" name="sp" value="7">
		</div>
		<div class="second">
			Spacios
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Open
		</div>
		<div class="dots">
				<input type="radio" name="open" value="1">
				<input type="radio" name="open" value="2">
				<input type="radio" name="open" value="3">
				<input type="radio" name="open" value="4">
				<input type="radio" name="open" value="5">
				<input type="radio" name="open" value="6">
				<input type="radio" name="open" value="7">

		</div>
		<div class="second">
			Closed
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Restricted space
		</div>
		<div class="dots">
				<input type="radio" name="rSpace" value="1">
				<input type="radio" name="rSpace" value="2">
				<input type="radio" name="rSpace" value="3">
				<input type="radio" name="rSpace" value="4">
				<input type="radio" name="rSpace" value="5">
				<input type="radio" name="rSpace" value="6">
				<input type="radio" name="rSpace" value="7">
		</div>
		<div class="second">
			Free space
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Repelling
		</div>
		<div class="dots">
				<input type="radio" name="invite" value="1" required>
				<input type="radio" name="invite" value="2" required>
				<input type="radio" name="invite" value="3" required>
				<input type="radio" name="invite" value="4" required>
				<input type="radio" name="invite" value="5" required>
				<input type="radio" name="invite" value="6" required>
				<input type="radio" name="invite" value="7" required>
		</div>
		<div class="second">
			Inviting
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Disturbing
		</div>
		<div class="dots">
				<input type="radio" name="rest" value="1">
				<input type="radio" name="rest" value="2">
				<input type="radio" name="rest" value="3">
				<input type="radio" name="rest" value="4">
				<input type="radio" name="rest" value="5">
				<input type="radio" name="rest" value="6">
				<input type="radio" name="rest" value="7">
		</div>
		<div class="second">
			Restful
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Cozy
		</div>
		<div class="dots">
				<input type="radio" name="cozy" value="1">
				<input type="radio" name="cozy" value="2">
				<input type="radio" name="cozy" value="3">
				<input type="radio" name="cozy" value="4">
				<input type="radio" name="cozy" value="5">
				<input type="radio" name="cozy" value="6">
				<input type="radio" name="cozy" value="7">
		</div>
		<div class="second">
			Monumental
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Cramped
		</div>
		<div class="dots">
				<input type="radio" name="roomy" value="1">
				<input type="radio" name="roomy" value="2">
				<input type="radio" name="roomy" value="3">
				<input type="radio" name="roomy" value="4">
				<input type="radio" name="roomy" value="5">
				<input type="radio" name="roomy" value="6">
				<input type="radio" name="roomy" value="7">
		</div>
		<div class="second">
			Roomy
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Narrow
		</div>
		<div class="dots">
				<input type="radio" name="wide" value="1">
				<input type="radio" name="wide" value="2">
				<input type="radio" name="wide" value="3">
				<input type="radio" name="wide" value="4">
				<input type="radio" name="wide" value="5">
				<input type="radio" name="wide" value="6">
				<input type="radio" name="wide" value="7">
		</div>
		<div class="second">
			Wide
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Small
		</div>
		<div class="dots">
				<input type="radio" name="small" value="1">
				<input type="radio" name="small" value="2">
				<input type="radio" name="small" value="3">
				<input type="radio" name="small" value="4">
				<input type="radio" name="small" value="5">
				<input type="radio" name="small" value="6">
				<input type="radio" name="small" value="7">
		</div>
		<div class="second">
			Large
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>

	
</ul>
</div>
<div class="frage">
<ul>
	<li>
		<div class="first">
			Non spacios
		</div>
		<div class="dots">
				<input type="radio" name="sp" value="1">
			  	<input type="radio" name="sp" value="2">
			  	<input type="radio" name="sp" value="3">
			  	<input type="radio" name="sp" value="4">
			  	<input type="radio" name="sp" value="5">
			  	<input type="radio" name="sp" value="6">
			  	<input type="radio" name="sp" value="7">
		</div>
		<div class="second">
			Spacios
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Open
		</div>
		<div class="dots">
				<input type="radio" name="open" value="1">
				<input type="radio" name="open" value="2">
				<input type="radio" name="open" value="3">
				<input type="radio" name="open" value="4">
				<input type="radio" name="open" value="5">
				<input type="radio" name="open" value="6">
				<input type="radio" name="open" value="7">

		</div>
		<div class="second">
			Closed
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Restricted space
		</div>
		<div class="dots">
				<input type="radio" name="rSpace" value="1">
				<input type="radio" name="rSpace" value="2">
				<input type="radio" name="rSpace" value="3">
				<input type="radio" name="rSpace" value="4">
				<input type="radio" name="rSpace" value="5">
				<input type="radio" name="rSpace" value="6">
				<input type="radio" name="rSpace" value="7">
		</div>
		<div class="second">
			Free space
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Repelling
		</div>
		<div class="dots">
				<input type="radio" name="invite" value="1" required>
				<input type="radio" name="invite" value="2" required>
				<input type="radio" name="invite" value="3" required>
				<input type="radio" name="invite" value="4" required>
				<input type="radio" name="invite" value="5" required>
				<input type="radio" name="invite" value="6" required>
				<input type="radio" name="invite" value="7" required>
		</div>
		<div class="second">
			Inviting
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Disturbing
		</div>
		<div class="dots">
				<input type="radio" name="rest" value="1">
				<input type="radio" name="rest" value="2">
				<input type="radio" name="rest" value="3">
				<input type="radio" name="rest" value="4">
				<input type="radio" name="rest" value="5">
				<input type="radio" name="rest" value="6">
				<input type="radio" name="rest" value="7">
		</div>
		<div class="second">
			Restful
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Cozy
		</div>
		<div class="dots">
				<input type="radio" name="cozy" value="1">
				<input type="radio" name="cozy" value="2">
				<input type="radio" name="cozy" value="3">
				<input type="radio" name="cozy" value="4">
				<input type="radio" name="cozy" value="5">
				<input type="radio" name="cozy" value="6">
				<input type="radio" name="cozy" value="7">
		</div>
		<div class="second">
			Monumental
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Cramped
		</div>
		<div class="dots">
				<input type="radio" name="roomy" value="1">
				<input type="radio" name="roomy" value="2">
				<input type="radio" name="roomy" value="3">
				<input type="radio" name="roomy" value="4">
				<input type="radio" name="roomy" value="5">
				<input type="radio" name="roomy" value="6">
				<input type="radio" name="roomy" value="7">
		</div>
		<div class="second">
			Roomy
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Narrow
		</div>
		<div class="dots">
				<input type="radio" name="wide" value="1">
				<input type="radio" name="wide" value="2">
				<input type="radio" name="wide" value="3">
				<input type="radio" name="wide" value="4">
				<input type="radio" name="wide" value="5">
				<input type="radio" name="wide" value="6">
				<input type="radio" name="wide" value="7">
		</div>
		<div class="second">
			Wide
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>
	<li>
		<div class="first">
			Small
		</div>
		<div class="dots">
				<input type="radio" name="small" value="1">
				<input type="radio" name="small" value="2">
				<input type="radio" name="small" value="3">
				<input type="radio" name="small" value="4">
				<input type="radio" name="small" value="5">
				<input type="radio" name="small" value="6">
				<input type="radio" name="small" value="7">
		</div>
		<div class="second">
			Large
		</div>
	</li>
	<li>
		<span style="color:white;">test</span>
	</li>

	
</ul>

<button class="myButton" type="submit" style="margin-left:120px;">Submit</button>


</div>
</div>

</form>
<script>
window.onload = function() {
    Gifffer();
}
</script>
	
	
	<!--button class="myButton" type="submit" id="button">Button</button-->
	<!--img src="images/test.jpg" alt="" onclick='javascript:(this.src=="images/test.jpg"?this.src="images/gif1.gif":"")' /-->
	

</body>
</html>