<!doctype html>
<html>
<head>
	<meta charset="utf-8"></meta>
    <title>Perception of spaciousness</title>	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript" src="onlinefolio/layout/scripts/jquery.min.js"></script>
<script type="text/javascript" src="onlinefolio/layout/scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="javascripts/gifffer.min.js"></script>

</head>

<body>
<style>
.welcome {
	padding-left:25px;
    height: 30px;
    font-family: "Calibri";
    font-size:20px;
}
.header {
   
    padding: 25px;
    height: 50px;
    line-height: 0.05;
}
h1 {
	color: black;
	font-family: "Georgia";
}
h2 {
	color: black;
	font-size: 100%;
	font-family: "Georgia";

}
.myButton {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.password {
	padding: 25px;
	margin-top: 50px;
}
</style>
<div class="header">
	<h1>Perception of spaciousness</h1>
	<h2>Online survey</h2>
	<hr noshade size="1">
</div>
<div class="welcome">
	Hi! Thank you for agreeing to take part in my survey measearing how the horizontal shape of a room can affect the perception of room's speciousness. 
	<br>
	The survey should take 10-15 minutes to complete. 
</div>
<div class="password">
	Please type the password:
	<form action="/" method="post">
	<input type="password" name="word" />
	<button type="submit" class="myButton">Submit</button>
	</form>
</div>
</body>
</html>