<!doctype html>
<html>
<head>
	<meta charset="utf-8"></meta>
    <title>Perception of spaciousness</title>	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript" src="onlinefolio/layout/scripts/jquery.min.js"></script>
<script type="text/javascript" src="onlinefolio/layout/scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="javascripts/gifffer.min.js"></script>

</head>

<body>
<style>
.welcome {
	padding-left:25px;
    height: 30px;
    font-family: "Calibri";
    font-size:20px;
}
.header {
   
    padding: 25px;
    height: 50px;
    line-height: 0.05;
}
h1 {
	color: black;
	font-family: "Georgia";
}
h2 {
	color: black;
	font-size: 100%;
	font-family: "Georgia";

}
.myButton {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.password {
	padding-left: 25px;
	margin-top: 20px;
}
.agreement {
	border-width: 3px; 
	border-color:black; 
	background-color:#F8F8F8;
	padding-left:25px; 
}
body {
	font-family: "Calibri";
}
</style>
<div class="header">
	<h1>Perception of spaciousness</h1>
	<h2>Online survey</h2>
	<hr noshade size="1">
</div>
<div class="welcome">
	Hi! Thank you for agreeing to take part in my survey measearing how the horizontal shape of a room can affect the perception of room's speciousness. 
	<br>
	The survey should take 10-15 minutes to complete. 
	<br>
	To continiee you should agree to the Informed Consent Form given below.
</div>
<div class="agreement" >
<div style="font-weight: bold; text-align: center; margin-top: 80px;">Informed Consent Form
	<br>
An Investigation of the relationship between the horizontal shape of a room and their spaciousness.
</div>
<span style="text-decoration: underline;">About the Study:</span><br>
This study is a student project and is being conducted by Zoya Esaulova, student of University of Münster, Institute of Geoinformatics. The study will be conducted in the time period May-June 2015. 
This survey consists of 7 videos showing the 3D-Models of different rooms. You should watch each video and rate the rooms on the traits given rights. We also will ask for some demographic information: age and sex. The survey will take 10-15 Minutes to complete. <br>
<span style="text-decoration: underline;">Risks or discomforts:</span> <br>
There are no risks or discomforts . If you decide to quit at any time before you have finished the questionnaire you can just close the website. Your answers will not be recorded until you press “Submit” button. <br>
<span style="text-decoration: underline;">Confidentiality:</span> <br>
Your responses will be kept completely confidential. We will only save your answers. We will not save your IP address.<br>
<span style="text-decoration: underline;">How the findings will be used:</span> <br>
The results of the study will be used for scholarly purposes only. The results from the study will be presented in educational settings only and won’t be published. 
</div>
<br>
<br>
<br>
<form action="/" method="post">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<label><input type="checkbox" name="agree" required >
I have read the Informed Consent Form and agree to participate in this research.</label>


<div class="password">
	Please type the password:
	
	<input type="password" name="word" />
	<button type="submit" class="myButton">Submit</button>
	</form>
</div>


</body>
</html>